@import "tailwindcss";

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@keyframes marqueeVertical {
  0% { transform: translateY(0%); }
  100% { transform: translateY(-100%); }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}

.animate-marquee-vertical {
  animation: marqueeVertical 5s linear infinite;
}